.progressBar {
  width: 75%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;

  div[data-test-id="CircularProgressbarWithChildren__children"] {
    margin-top: unset !important;
    inset: 0;
  }

  .statusContainer {
    z-index: 2;

    p {
      font-size: 32px;
      font-weight: bold;
    }

    .available {
      color: var(--light-green);
    }

    .inProgress {
      color: var(--dark-red);
    }

    .errorMsg {
      color: var(--light-red);
      font-size: 28px;
    }
  }
}
