.indicator {
  display: flex;
  align-items: center;
  position: absolute;
  width: 80%;
  margin-left: calc(var(--item-gap-size) * 2.5);
  margin-right: var(--item-gap-size);
  z-index: 5;

  .indicatorLine {
    width: 100%;
    border-top: 3px solid var(--light-blue);
  }

  .indicatorCircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--light-blue);
  }
}
