.backdrop {
  margin: 0 !important;
  background-color: var(--white);
  position: fixed;
  inset: 0;
  opacity: 0.2;
  z-index: 5;
}

.modal {
  width: 25rem;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-purple);
  color: var(--white);
  z-index: 10;
  padding: 1rem 2.5rem 3rem 2.5rem;
  border-radius: 25px;

  .modalHeader {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: var(--item-gap-size);

    .icon {
      cursor: pointer;
      margin-left: auto;
      height: 20px;
    }

    .title {
      font-size: 1.75rem;
    }
  }

  .modalContents {
    & > * {
      font-size: 1.25rem;
    }

    & > * + * {
      margin-top: var(--item-gap-size);
    }
  }
}
