.header {
  display: flex;
  align-items: center;

  .dateInfo {
    margin-left: auto;
    text-align: end;
    color: var(--white);

    p {
      margin: auto;
    }

    .date {
      color: var(--light-blue);
    }
  }
}
