.startTime {
  color: var(--light-blue);
  padding: 5px;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    color: var(--light-blue);
  }

  select {
    width: 75px;
    height: 25px;

    &:focus-visible {
      outline: var(--light-blue) auto 1px;
    }
  }
}

.btnSection {
  width: 50%;
  margin-inline: auto;
}
