.eventContainer {
  height: 100%;
  border-style: solid;
  border-color: var(--light-purple);
  border-width: 2px 2px 2px 15px;
  border-radius: 8px;
  background-color: var(--light-blue);
  color: var(--white);
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  cursor: pointer;
  container-type: size;

  .title {
    padding-bottom: 3px;
  }

  @container (max-height: 20px) {
    .title {
      line-height: 1;
    }
  }
}
