.eventContainer {
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--light-purple);
  background-color: var(--light-purple);
  color: var(--white);
  text-align: center;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  cursor: pointer;
  container-type: size;

  .title {
    padding-bottom: 3px;
  }
}
